{
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"flow-runtime",
		"@babel/plugin-proposal-async-generator-functions"
	]
}

// {
//   "plugins": [
//     "flow",
//     "jsx",
//     "estree",
//     "asyncFunctions",
//     "asyncGenerators",
//     "classConstructorCall",
//     "classProperties",
//     "decorators",
//     "doExpressions",
//     "exponentiationOperator",
//     "exportExtensions",
//     "functionBind",
//     "functionSent",
//     "objectRestSpread",
//     "trailingFunctionCommas",
//     "dynamicImport",
//     "numericSeparator",
//     "optionalChaining",
//     "importMeta",
//     "classPrivateProperties",
//     "bigInt",
//     "optionalCatchBinding"
//   ]
// }
